
# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# environments
.venv/
venv/

# python cache
__pycache__/

# node
node_modules/
dist/

# tauri
src-tauri/target/

# databases & embeddings
db/
*.db
*.npy

# OS junk
.DS_Store

# large media
*.mov
*.mp4

